#grillePacman{
    display: grid;
    grid-template-columns: repeat(19,40px);
    grid-template-rows: repeat(22, 40px);

  }



.mur{
    background-color: blue;
}

.sol{
    background-color: black;
}

.bonbon{
    background-image: url(./img/bonbon.gif);
}



#pacman{
    background-image: url(./img/pacman4.gif);
}
